---
layout: default
---

{% for post in site.posts %}
<article>
  <h1><a href="{{ post.url | relative_url }}">{{ post.title | escape }}</a></h1>
  {% if post.alt_title %}
  <h3><small> or </small><a href="{{ post.url | relative_url }}">{{ post.alt_title | escape }}</a></h3>
  {% endif %}
  <h4>{{ post.date | date_to_string }} - {% if post.author %} {{ post.author }} {% else %} atrodo {% endif %}
  {% if post.song %}
  - Song: {{ post.song | escape }}
  {% endif %}
  </h4>
  {{ post.excerpt }}
  <small><a href="{{ post.url | relative_url }}">Continue...</a></small>
</article>
  {% unless forloop.last %}
  <hr>
  {% endunless %}
{% endfor %}
